# Shared module dependencies
-r ./mongo/requirements.txt
-r ./clash_royale_api/requirements.txt
-r ./api_key_store/requirements.txt
-r ./redis_service/requirements.txt
-r ./scrape_schedule/requirements.txt

# Card image conversion
Pillow==11.3.0
